{% extends 'base.html' %}
{% block title %}Data Sources{% endblock %}
{% set active_page = "data-sources" %}

{% block content %}
    <h1 class="cover-heading">Data Sources</h1>
    <ul>
        <li>Jordan Ministry of Health - <a href="https://corona.moh.gov.jo/en/MediaCenter">https://corona.moh.gov.jo/en/MediaCenter</a></li>
        <li>UC DAVIS Department of Environmental Science and Policy - <a href="http://biogeo.ucdavis.edu/data/diva/adm/JOR_adm.zip">http://biogeo.ucdavis.edu/data/diva/adm/JOR_adm.zip</a>
        </li>
    </ul>
{% endblock %}
