{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block head_scripts %}
    <!-- LeafletJS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/shp.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/catiline.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.shpfile.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/geostats.min.js') }}"></script>

    <style type="text/css">
        .legend {
            background-color: white;
            padding: 10px;
            line-height: 18px;
            color: #555;
        }

        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }
    </style>
{% endblock %}

{% block outer_content %}
    <h1><strong>COVID-19 Cases in Jordan</strong></h1>
    <p class="lead font-weight-normal">Newly reported COVID-19 cases for <span id="selectedDate"></span></p>

    <div id="map" style="width: 100%; height: 500px;"></div>

    <hr>
    <h5><strong>Map Controls</strong></h5>

    <form>
        <div class="row">
            <div class="col-md-6">
                <!-- View date selector form -->
                <div class="form-group">
                    <label for="viewDateSelect"><strong>Select a date to view</strong></label>
                    <select class="form-control" id="viewDateSelect">
                        {% for url in all_urls %}
                            <option value="{{ url[0] }}">{{ url[1].strftime('%B %d %Y') }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6" style="border-left: 1px solid lightgray;  padding-left: 10px">
                <!-- Toggle controls -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="toggleLocalPopulationRatio">
                    <label class="form-check-label" for="toggleLocalPopulationRatio">
                        Show number of cases proportional to local population
                    </label>
                </div>
                <br>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#advancedOptions" role="button" aria-expanded="false" aria-controls="advancedOptions">
                        Advanced Options
                    </a>
                </p>
                <div class="collapse" id="advancedOptions">
                    <div class="card card-body">
                        <div class="form-group">
                            <label for="dataClassificationMethodSelect"><strong>Select data classification method</strong></label>
                            <select class="form-control" id="dataClassificationMethodSelect">
                                <option value="jenks" selected>Natural Breaks (Jenks)</option>
                                <option value="eqinterval">Equal Interval</option>
                                <option value="quantile">Quantile</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="numBreakClasses"><strong>Number of Classes</strong></label>
                            <input type="number" class="form-control" id="numBreakClasses" aria-describedby="numBreakClasses" value="7" min="2" max="12">
                        </div>
                    </div>
                </div>
                <hr>
                <a href="#" onclick="downloadCSV()" class="btn btn-success">Download data as CSV</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        //-------------------------------------------------------------------------------
        // jQuery event handlers
        //-------------------------------------------------------------------------------

        // On page load events
        $(document).ready(function () {
            mapOptionChangedHandler();
        });

        // "Select a date to view" changed event handler
        $("#viewDateSelect").change(function () {
            mapOptionChangedHandler();
        });

        // "Show number of cases proportional to local population" changed event handler
        $("#toggleLocalPopulationRatio").change(function () {
            mapOptionChangedHandler();
        });

        // "Select data classification method" changed event handler
        $("#dataClassificationMethodSelect").change(function () {
            mapOptionChangedHandler();
        });

        // "Number of Classes" changed event handler
        $("#numBreakClasses").change(function () {
            mapOptionChangedHandler();
        });

        //-------------------------------------------------------------------------------
        // LeafletJS
        //-------------------------------------------------------------------------------

        let NUM_CLASSES;
        let shpFile;
        let legend;
        let selectedDateCasesData;
        let selectedDateCasesDataProportional = {};
        let classes;
        let usePopulationProportion;

        // Initialize map
        let map = L.map('map').setView([31.25, 36.5], 7);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        }).addTo(map);

        //-------------------------------------------------------------------------------

        /**
         * Determines the appropriate hex color code for the different data classes
         */
        function getColor(val) {
            let colors = generateColorSteps();

            // Apply the color grading to the different classes
            for (let i = classes.length - 1; i >= 0; i--) {
                if (val >= classes[i]) {
                    return colors[i];
                }
            }
        }

        /**
         * Applies the appropriate styling to the passed region based on the number of COVID-19 cases
         */
        function style(feature) {
            let value;
            // Check if we need to adjust the dataset to be proportional to the population
            if (usePopulationProportion) {
                value = selectedDateCasesDataProportional[feature.properties['RegionName']];
            } else {
                value = selectedDateCasesData[feature.properties['RegionName']];
            }
            return {
                fillColor: getColor(value),
                weight: 2,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7
            };
        }

        function generateClasses(dataset) {
            let parsedDateset = {};
            $.each(dataset, function (key, value) {
                if (!Number.isNaN(parseFloat(value))) {
                    parsedDateset[key] = parseFloat(value);
                }
            });

            // Enforce limit on number of classes for smaller datasets
            if (Object.keys(parsedDateset).length < NUM_CLASSES) {
                NUM_CLASSES = Object.keys(parsedDateset).length - 1;
            }

            // Generate geostats object for dataset
            let series = new geostats(Object.values(parsedDateset));

            // Determine the classification type
            let classifierType = $("#dataClassificationMethodSelect").val();
            if (classifierType === "jenks") {
                classes = series.getClassJenks(NUM_CLASSES);
            } else if (classifierType === "eqinterval") {
                classes = series.getClassEqInterval(NUM_CLASSES);
            } else if (classifierType === "quantile") {
                classes = series.getClassQuantile(NUM_CLASSES);
            } else {
                // Default to jenks if something erroneous was entered
                classes = series.getClassJenks(NUM_CLASSES);
            }
        }

        /**
         * Handler for view data selector change
         */
        function mapOptionChangedHandler() {
            // Disable all input
            //$("#viewDateSelect").attr("disabled", "disabled");
            $("#toggleLocalPopulationRatio").attr("disabled", "disabled");
            $("#dataClassificationMethodSelect").attr("disabled", "disabled");
            $("#numBreakClasses").attr("disabled", "disabled");

            // Try to remove existing map layer
            try {
                map.removeLayer(shpFile);
                map.removeControl(legend);
            } catch (e) {
            }

            NUM_CLASSES = $("#numBreakClasses").val() - 1;
            usePopulationProportion = $("#toggleLocalPopulationRatio").is(':checked');

            // Get the case data for the selected date
            jQuery.get("{{ url_for('parse_update') }}", 'page_id=' + $("#viewDateSelect").val()).fail(function () {
                alert("Error getting data for specified date! Please try again later.");
            }).done(function (data) {
                selectedDateCasesData = data;

                if (usePopulationProportion) {
                    shp("{{ url_for('static', filename='bin/jordan_regions.shp.zip') }}").then(function (geojson) {
                        for (let i = 0; i < geojson['features'].length; i++) {
                            let feature = geojson['features'][i];
                            selectedDateCasesDataProportional[feature.properties['RegionName']] = ((selectedDateCasesData[feature.properties['RegionName']] / parseInt(feature.properties['Population'])) * 100000).toFixed(1);
                        }
                    }).then(function () {
                        generateClasses(selectedDateCasesDataProportional);
                    });
                } else {
                    generateClasses(selectedDateCasesData);
                }

                $("#selectedDate").text($("#viewDateSelect option:selected").text());

                // Initialize new shapefile layer
                shpFile = new L.Shapefile("{{ url_for('static', filename='bin/jordan_regions.shp.zip') }}", {
                    style: style,
                    onEachFeature: function (feature, layer) {
                        // Get the number of COVID-19 cases for selected date
                        if (Number.isNaN(parseFloat(selectedDateCasesData[feature.properties['RegionName']]))) {
                            feature.properties['Number of Cases'] = 0;
                        } else {
                            feature.properties['Number of Cases'] = selectedDateCasesData[feature.properties['RegionName']];
                        }

                        // Check if we need to adjust the dataset to be proportional to the population
                        if (usePopulationProportion) {
                            if (Number.isNaN(parseFloat(selectedDateCasesDataProportional[feature.properties['RegionName']]))) {
                                feature.properties['Number of Cases per 100,000'] = 0;
                            } else {
                                feature.properties['Number of Cases per 100,000'] = selectedDateCasesDataProportional[feature.properties['RegionName']];
                            }
                        }

                        if (feature.properties) {
                            let popupString = Object.keys(feature.properties).map(function (k) {
                                return `<strong>${k}:</strong> ${feature.properties[k]}`;
                            }).join("<br />");

                            layer.bindPopup(popupString, {
                                maxHeight: 200
                            });
                        }
                    }
                });

                // Add layer to map
                shpFile.addTo(map);

                // Shapefile finished loading
                shpFile.once("data:loaded", function () {
                    console.log("Shapefile loaded");

                    // Create legend
                    legend = L.control({position: 'bottomright'});
                    legend.onAdd = function () {
                        let legendDiv = L.DomUtil.create('div', 'info legend');

                        if (usePopulationProportion) {
                            legendDiv.innerHTML += "<strong>Number of Cases per 100,000</strong><br style='margin-bottom: 5px'>";
                        } else {
                            legendDiv.innerHTML += "<strong>Number of Cases</strong><br style='margin-bottom: 5px'>";
                        }

                        // Loop through all of the classes and populate the legend with them
                        for (let i = 0; i < classes.length; i++) {
                            legendDiv.innerHTML += `<i style="background:${getColor(classes[i])}"></i> ${classes[i]}`;
                            if (i === classes.length - 1) {
                                legendDiv.innerHTML += '+';
                            } else {
                                legendDiv.innerHTML += ` &ndash; ${classes[i + 1]}<br>`;
                            }
                        }

                        return legendDiv;
                    };

                    legend.addTo(map);

                    // Re-enable all input
                    $("#viewDateSelect").prop("disabled", false);
                    $("#toggleLocalPopulationRatio").prop("disabled", false);
                    $("#dataClassificationMethodSelect").prop("disabled", false);
                    $("#numBreakClasses").prop("disabled", false);
                });
            });
        }

        /**
         * Generates a CSV file for the selected date's dateset
         */
        function downloadCSV() {
            let csv = 'Timestamp,Region,NumCases\n';
            let timestamp = Date.parse($("#viewDateSelect option:selected").text());
            for (const item in selectedDateCasesData) {
                csv += `${timestamp},${item},${selectedDateCasesData[item]}\n`;
            }

            let date = new Date(timestamp);
            let hiddenElement = document.createElement('a');
            hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
            hiddenElement.target = '_blank';
            hiddenElement.download = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}-covid-19-cases.csv`;
            hiddenElement.click();
        }
    </script>

    <script>
        /**
         * This code was adapted from Neil McCallion at https://codepen.io/njmcode/pen/axoyD
         */
        // Converts a #ffffff hex string into an [r,g,b] array
        function hex2rgb(hex) {
            let result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
            return result ? [
                parseInt(result[1], 16),
                parseInt(result[2], 16),
                parseInt(result[3], 16)
            ] : null;
        }

        // Inverse of the above
        function rgb2hex(rgb) {
            return "#" + ((1 << 24) + (rgb[0] << 16) + (rgb[1] << 8) + rgb[2]).toString(16).slice(1);
        }

        // Interpolates two [r,g,b] colors and returns an [r,g,b] of the result
        // Taken from the awesome ROT.js roguelike dev library at
        // https://github.com/ondras/rot.js
        function interpolateColor(color1, color2, factor) {
            if (arguments.length < 3) {
                factor = 0.5;
            }

            let result = color1.slice();

            for (let i = 0; i < 3; i++) {
                result[i] = Math.round(result[i] + factor * (color2[i] - color1[i]));
            }

            return result;
        }

        function generateColorSteps() {
            let startColor = hex2rgb("#fff5e9"), endColor = hex2rgb("#800026");
            let factorStep = 1 / (NUM_CLASSES + 1);
            let steps = []
            for (let i = 0; i < NUM_CLASSES + 1; i++) {
                let interpolatedColor = interpolateColor(startColor, endColor, factorStep * i),
                    hexColor = rgb2hex(interpolatedColor);

                steps.push(hexColor);
            }

            return steps;
        }
    </script>
{% endblock %}