{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block head_scripts %}
    <!-- LeafletJS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/shp.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/catiline.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.shpfile.js') }}"></script>
{% endblock %}

{% block outer_content %}
    <h1><strong>COVID-19 Cases in Jordan</strong></h1>
    <p class="lead font-weight-normal">Newly reported COVID-19 cases for <span id="selectedDate"></span></p>

    <div id="map" style="width: 100%; height: 500px;"></div>

    <hr>
    <h5><strong>Map Controls</strong></h5>

    <form>
        <div class="row">
            <div class="col-md-6">
                <!-- View date selector form -->
                <div class="form-group">
                    <label for="viewDateSelect">Select a date to view</label>
                    <select class="form-control" id="viewDateSelect">
                        {% for url in all_urls %}
                            <option value="{{ url[0] }}">{{ url[1].strftime('%B %d %Y') }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6" style="border-left: 1px solid lightgray;  padding-left: 10px">
                <!-- Toggle controls -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="toggleLocalPopulationRatio">
                    <label class="form-check-label" for="toggleLocalPopulationRatio">
                        Show number of cases proportional to local population
                    </label>
                </div>
                <hr>
                <a href="#" class="btn btn-success">Download data as CSV</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        //-------------------------------------------------------------------------------
        // jQuery event handlers
        //-------------------------------------------------------------------------------

        // On page load events
        $(document).ready(function () {
            selectedDateChangeHandler();
        });

        // "Select a date to view" changed event handler
        $("#viewDateSelect").change(function () {
            selectedDateChangeHandler();
        });

        // "Show number of cases proportional to local population" changed event handler
        $("#toggleLocalPopulationRatio").change(function () {
            console.log($(this).is(':checked'))
        });

        //-------------------------------------------------------------------------------
        // LeafletJS
        //-------------------------------------------------------------------------------

        // Initialize map
        let map = L.map('map').setView([31.25, 36.5], 7);
        let shpFile;
        let selectedDateCasesData;

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        }).addTo(map);

        //-------------------------------------------------------------------------------

        /**
         * Determines the appropriate hex color code for the different
         */
        function getColor(val) {
            if (val > 1000) {
                return "#800026";
            } else if (val > 500) {
                return "#BD0026";
            } else if (val > 200) {
                return "#E31A1C";
            } else if (val > 100) {
                return "#FC4E2A";
            } else if (val > 50) {
                return "#FD8D3C";
            } else if (val > 20) {
                return "#FEB24C";
            } else if (val > 10) {
                return "#FED976";
            } else {
                return "#FFEDA0";
            }
        }

        /**
         * Applies the appropriate styling to the passed region based on the number of COVID-19 cases
         */
        function style(feature) {
            // Get the number of COVID-19 cases for selected date
            feature.properties['Number of Cases'] = selectedDateCasesData[feature.properties['RegionName']];

            return {
                fillColor: getColor(feature.properties["Number of Cases"]),
                weight: 2,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7
            };
        }

        /**
         * Handler for view data selector change
         */
        function selectedDateChangeHandler() {
            // Try to remove existing map layer
            try {
                map.removeLayer(shpFile);
            } catch (e) {
                console.log("Unable to remove shapefile layer. It may have already been removed or there was an error")
            }

            // Get the case data for the selected date
            jQuery.get("{{ url_for('parse_update') }}", 'page_id=' + $("#viewDateSelect").val()).fail(function () {
                alert("Error getting data for specified date! Please try again later.");
            }).done(function (data) {
                selectedDateCasesData = data;
                $("#selectedDate").text($("#viewDateSelect option:selected").text());

                // Initialize new shapefile layer
                shpFile = new L.Shapefile("{{ url_for('static', filename='bin/jordan_regions.shp.zip') }}", {
                    onEachFeature: function (feature, layer) {
                        // Get the number of COVID-19 cases for selected date
                        feature.properties['Number of Cases'] = selectedDateCasesData[feature.properties['RegionName']];

                        if (feature.properties) {
                            let popupString = Object.keys(feature.properties).map(function (k) {
                                return k + ": " + feature.properties[k];
                            }).join("<br />");

                            layer.bindPopup(popupString, {
                                maxHeight: 200
                            });
                        }
                    },
                    style: style
                });

                // Add layer to map
                shpFile.addTo(map);

                // Shapefile finished loading
                shpFile.once("data:loaded", function () {
                    console.log("Shapefile loaded");
                });
            });
        }
    </script>
{% endblock %}