{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block head_scripts %}
    <!-- LeafletJS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/shp.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/catiline.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.shpfile.js') }}"></script>
{% endblock %}

{% block outer_content %}
    <h1><strong>COVID-19 Cases in Jordan</strong></h1>
    <p class="lead font-weight-normal">TODO WRITE TEXT HERE</p>

    <div id="mapid" style="width: 100%; height: 500px;"></div>

    <hr>
    <h5><strong>Map Controls</strong></h5>
    <form>
        <div class="row">
            <div class="col-md-6">
                <!-- View date selector form -->
                <div class="form-group">
                    <label for="viewDateSelect">Select a date to view</label>
                    <select class="form-control" id="viewDateSelect">
                        {% for url in all_urls %}
                            <option value="{{ url[0] }}">{{ url[1].strftime('%B %d %Y') }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6" style="border-left: 1px solid lightgray;  padding-left: 10px"></div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        // jQuery event handlers
        $("#viewDateSelect").change(function () {
            alert($(this).val());

            jQuery.get("{{ url_for('parse_update') }}", 'page_id=' + $(this).val(), function (data, textStatus, xhr) {
                if (xhr.status !== 200) {
                    alert("Error getting data for specified date! Please try again later.")
                } else {
                    console.log(data);
                }
            });
        });

        // LeafletJS
        var m = L.map('mapid').setView([31.25, 36.5], 7);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        }).addTo(m);

        var shpfile = new L.Shapefile("{{ url_for('static', filename='bin/JOR_adm.zip') }}", {
            onEachFeature: function (feature, layer) {
                if (feature.properties) {
                    layer.bindPopup(Object.keys(feature.properties).map(function (k) {
                        return k + ": " + feature.properties[k];
                    }).join("<br />"), {
                        maxHeight: 200
                    });
                }
            }
        });
        shpfile.addTo(m);
        shpfile.once("data:loaded", function () {
            console.log("finished loaded shapefile");
        });
    </script>
{% endblock %}